 html { /* Main Page Colors & Styles */
color: #ffffff;
background: url("https://coralcountyrblx.xyz/bg.png") no-repeat;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #707070;
        }

header { /* Navbar & Header Styling */
color: #ffffff;
padding: 5px;
padding-left: 5px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
border: none;
border-radius: 7px;
position: sticky; top: 0;
background: rgba(112, 112, 112, 0.5);
        }

footer { /* Footer Styling */
color: #ffffff;
padding: 5px;
padding-left: 5px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
border: none;
border-radius: 7px;
position: sticky; bottom: 0;
width: 99%;
background: rgba(112, 112, 112, 0.5);
        }
        
button { /* Button Styling */
border: none;
padding: 7px;
border-radius: 7px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
color: #ffffff;
font-size: 20px;
z-index: 2;
background: rgba(112, 112, 112, 0.5);
        }

code { /* Code Block Styling */
color: #ffffff;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: bold;
border: none;
border-radius: 7px;
padding: 5px;
font-size: 18px;
background: rgba(112, 112, 112, 0.5);
        }
        
img { /* Image Styling */
padding: 5px;
border: none;
border-radius: 7px;
        }
        
ht { /* Header Text Styling */
padding: 7px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
color: #ffffff;
font-size: 25px;
        }

partners {
color: #ffffff;
background: rgba(112, 112, 112, 0.5);
padding: 5px;
padding-left: 5px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
border: none;
border-radius: 7px;
        }
